cert/**/*.srl
cert/**/*.key
cert/**/*.crt
cert/**/*.csr
.*.swp
._*
.DS_Store
.git
.lock-wscript
.svn
.wafpickle-*
CVS
npm-debug.log
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
node_modules
temp
.temp_certs
dist
*.tgz
