cert/**/*.srl
cert/**/*.key
cert/**/*.crt
cert/**/*.csr
.*.swp
._*
.DS_Store
.git
.hg
.lock-wscript
.svn
.wafpickle-*
CVS
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
node_modules
temp
.temp_certs
*.tgz
